::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* html,
body{
  height: 99%;
  width: 99%;
} */

/* body{
  display: flex;
  justify-content: center;
  align-items: center;
} */